services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.2
    container_name: elasticsearch
    environment:
      - node.name=es-node
      - discovery.type=single-node
      - cluster.name=es-docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms10g -Xmx10g"
      - xpack.security.enabled=false
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
      - "9300:9300"
    networks:
      - elk-net

  logstash:
    image: docker.elastic.co/logstash/logstash:9.2.2
    container_name: logstash
    environment:
      - "LS_JAVA_OPTS=-Xms5g -Xmx5g"
    volumes:
      - ./logstash/pipeline:/usr/share/logstash/pipeline
    ports:
      - "5044:5044"
    depends_on:
      - elasticsearch
    networks:
      - elk-net

  kibana:
    image: docker.elastic.co/kibana/kibana:9.2.2
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - xpack.security.enabled=false
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    networks:
      - elk-net

  filebeat:
    image: docker.elastic.co/beats/filebeat:9.2.2
    container_name: filebeat
    user: root  # Necessario per leggere /var/log
    volumes:
      - /var/log:/var/log:ro      # Monta log host
      - /var/lib/docker/containers:/var/lib/docker/containers:ro  # Log Docker
      - ./filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
    environment:
      - ELASTICSEARCH_HOSTS=elasticsearch:9200
    depends_on:
      - elasticsearch
      - logstash
    networks:
      - elk-net

  # journalbeat:
  #   image: docker.elastic.co/beats/journalbeat:9.2.2
  #   user: root
  #   volumes:
  #     - /var/log/journal:/var/log/journal:ro
  #     - /run/log/journal:/run/log/journal:ro
  #     - ./journalbeat/journalbeat.yml:/usr/share/journalbeat/journalbeat.yml:ro
  #   depends_on:
  #     - logstash
  #   networks:
  #     - elk-net

volumes:
  esdata:
    driver: local

networks:
  elk-net:
    driver: bridge
